body {
    background: #ffb553;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.04rem;
}

p {
    font-weight: 300;
}

/* HEADER */

#header div {
    margin-left: -0.5%;
}

#header div h1 {
    color: white;
    font-size: 600%;
    font-weight: 300;
    margin-bottom: -4.5%;
    text-align: left;
}

/* TILES */

.tile .is-child{
    box-shadow: 9px 10px 8px #f59b24;
}

#main-body, #header {
    padding: 2%;
}

article {
    border: 0.2rem solid transparent;
}

article:hover {
    border: 0.2rem solid #ffb553;
}

.title {
    font-weight: 300;
}

/* LOCATION TILE */

#location-tile, #date-tile {
    max-height: 200px;
}

#location-tile{
    background:rgba(255,106,0,0.7);
}

/* DATE TILE */

#date-tile {
    background: rgba(242,33,90,0.7);
}

#date-tile .subtitle {
    margin-bottom: 2%;
    font-weight: 300;
}

#data-input {
    border: none;
    padding: 1%;
    margin: 1%;
}

/* FOOD TRUCK TILE */

#food-tile {
    background: rgba(246,57,60,0.7);
    overflow: scroll;
    max-height: 400px;
    padding: 2%;
}

#food-container {
    justify-content: space-between;
    margin: 0.5% -2.5% 0.5% 0%;
}

.image-url {
    max-width: 90%;
    height: auto;
}

.truck-name {
    font-weight: 800;
    letter-spacing: 0.1rem;
    font-size: 125%;
}

#food-truck-image {
    max-width: 175px;
    margin: 1.5%;
    padding: 0%;
}

.image-url {
    border-radius: 3%;
    padding: 0%;
}



/* WEATHER TILES */

#weather-tiles {
    background: rgba(250,81,30,0.7);
    max-height: 300px;
    padding: 1%;
}

.weather-tile {
    text-align: center;
    padding: 0% 0% 1% 0%;
}

.weather-tile p {
    margin-top: 4%;
}

.weather-button {
    margin-top: 6%;

}

#weather-tiles i {
    margin-top: 7%;
}


/* EVENT TILES */

#events-tile {
    background: rgba(238,9,121,0.7);
    max-height: 1000px;
}

img {
    height: auto;
    max-width: 15%;
}

/* BUTTONS */

#location-button {
    margin-top: 3%;
}

/* FOOTER */

.footer {
    background :rgba(250,81,30,0.9);
}

