body {
    background-image: url('./images/food-background.jpg');
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.04rem;
}

p {
    font-weight: 300;
}

/* HEADER */

#header div {
    margin-left: -0.5%;
}

#header div h1 {
    color: #afab71;
    font-size: 600%;
    font-weight: 300;
    margin-bottom: -4.5%;
    text-align: left;
}

/* TILES */

.tile .is-child{
    box-shadow: 9px 10px 8px #c2be80;
}

#main-body, #header {
    padding: 2%;
}


.title {
    font-weight: 300;
}

/* LOCATION TILE */

#location-tile, #date-tile {
    max-height: 200px;
}

#location-tile{
    background: #fab73ad5;
}

/* DATE TILE */

#date-tile {
    background: #bcb985d5;
    min-height: 200px;
}

#date-tile .subtitle {
    margin-bottom: 2%;
    font-weight: 300;
}

#date-input {
    border: none;
    padding: 1%;
    margin: 1%;
}

/* FOOD TRUCK TILE */

#food-wrap {
    padding-right: 0%;
}

#food-tile {
    background: #ffd357d5;
    overflow: scroll;
    max-height: 400px;
    padding: 2%;
}

#food-container {
    justify-content: space-between;
    margin: 0.5% -2.5% 0.5% 0%;
}

.image-url {
    max-width: 90%;
    height: auto;
}

.truck-name {
    font-weight: 800;
    letter-spacing: 0.1rem;
    font-size: 125%;
}

#food-truck-image{
    max-width: 175px;
    margin: 1.5%;
    padding: 0%;
}

.image-url {
    border-radius: 3%;
    padding: 0%;
}



/* WEATHER TILES */

#weather-tiles {
    background: #fab73ad5;
    max-height: 300px;
    min-height: 150px;
    padding: 1%;
}

.weather-tile {
    text-align: center;
    padding: 0% 1% 1.5% 1%;
}

.weather-tile p {
    margin-top: 4%;
    font-size: 115%;
}

.weather-button {
    margin-top: 6%;

}

#weather-tiles i {
    margin-top: 7%;
    font-size: 400%;
    color: rgba(0, 0, 0, 0.582);
}


/* EVENT TILES */

#event-wrap {
    padding-bottom: 0%;
    padding-left: 1%;
}

#events-tile {
    background: #bcb985d5;
    max-height:  100%;
    margin-bottom: 0%;
}

img {
    height: 50%;
    max-width: 50%;
}

/* BUTTONS */

#location-button {
    margin-top: 3%;
}

/* FOOTER */

.footer {
    background :#ffd257e5;
}
